html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: #eee;
}

header {
  display: block;
  margin: 0;
  padding: 0;
  background: #0094ff;
  height: 40px;
  width: 100%;
}

header h1 {
  text-align: center;
  font-size: 30px;
  font-family: 'Arial', sans-serif;
  color: #fafafa;
}

nav {
	display: block;
	height: 50px;
	width: 100%;
	background #333;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	border-top: 1px solid #333;
}

.navbar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 8px;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background: red;
  text-decoration: none;
  color: #fff;
}

.navbar a {
	text-decoration: none;
	color: #fff;
	font-family: 'Ariel', sans-serif;
	font-size: 18px;
}

.navbar a:active {
	color: silver;
}
