header {
  display: block;
  margin: 0;
  padding: 0;
  background: #0094ff;
  height: 40px;
  width: 100%;
}

header h1 {
  text-align: center;
  font-size: 30px;
  font-family: 'Arial', sans-serif;
  color: #fafafa;
}
